.prose :where(pre):not(:where([class~=not-prose] *)) {
    background-color: var(--color-gray-600);
    border: 1px solid;
    border-color: rgba(51,65,85);
    border-radius: .375rem;
    color: var(--un-prose-pre-code);
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857;
    margin: 0 !important;
    overflow-x: auto;
    padding: .8571429em 1.1428571em;
    white-space: pre-wrap;
    word-break: break-word
}
.prose :where(h3):not(:where([class~=not-prose] *)) {
  color: var(--tw-prose-headings);
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: .6em;
  margin-top: 1.6em;
}



.prose :where(p):not(:where([class~=not-prose] *)) {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}


code, kbd, pre, samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 1em;
}
